/* Scrollbar style */
    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #F9A8D4;
      border-radius: 10px;
    }

    .product {
      all: unset;
      /* xoá toàn bộ thuộc tính cũ */
    }

    .popup {
      top: 50%;
      transform: translateY(-50%);
    }

    .popup-container {
      display: none;
      /* Mặc định ẩn */
      position: fixed;
      inset: 0;
      /* top: 0, left: 0, bottom: 0, right: 0 */
      background: rgba(0, 0, 0, 0.8);
      z-index: 1000;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      overflow: auto;
    }

    .popup {
      background-color: #1f2937;
      /* Tailwind gray-900 */
      color: white;
      border-radius: 1rem;
      max-width: 500px;
      width: 100%;
      max-height: 85vh;
      padding: 1rem;
      overflow-y: auto;
      position: relative;

      /* Scrollbar custom */
      scrollbar-width: thin;
      scrollbar-color: #F9A8D4 transparent;
      /* Firefox */
    }

    /* WebKit scrollbar (Chrome, Edge, Safari) */
    .popup::-webkit-scrollbar {
      width: 10px;
    }

    .popup::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    .popup::-webkit-scrollbar-thumb {
      background-color: #F9A8D4;
      border-radius: 10px;
      border: 2px solid transparent;
      /* để tạo khoảng cách giữa track */
      background-clip: padding-box;
    }

    .popup::-webkit-scrollbar-thumb:hover {
      background-color: #aaa;
    }

    @keyframes pillIn {
      0% {
        transform: translateY(8px) scale(0.8);
        opacity: 0;
      }

      100% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
    }

    .animate-pill {
      animation: pillIn 0.25s ease-out forwards;
    }

    .flip-card {
      perspective: 1200px;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .flip-inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.7s ease-in-out;
      position: relative;
    }

    .flip-inner.rotate-y-180 {
      transform: rotateY(180deg);
    }

    .face {
      backface-visibility: hidden;
      position: absolute;
      inset: 0;
      overflow-y: auto;
    }

    .back {
      transform: rotateY(180deg);
    }

    .suggestion-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 10px;
      transition: background-color 0.2s ease;
    }

    .suggestion-item:hover {
      background-color: rgba(251, 207, 232, 0.8);
      /* giống bg-pink-200/80 */
    }

    .suggestion-item.selected {
      background-color: rgba(251, 207, 232, 1);
      /* giống bg-pink-200 */
    }

    @media (max-width: 640px) {
      .face {
        padding: 1rem;
      }
    }

    #product-intro .absolute {
      position: absolute;
    }